[Unit]
Description=Check & alert when battery is below 30%
After=network.target

[Service]
Type=simple
ExecStart=/home/moreh/battery_alert.sh
Restart=always

[Install]
WantedBy=multi-user.target

